/*************************************************
*   Custom styles
*************************************************/

#header h1 {
    height:35px;
    background: url("/static/img/logo2.png") no-repeat scroll 0 0 transparent;
}

#content-header {
    height:50px;
}
#content-header h1, #content-header .btn-group {margin-top:8px;}
#content-header h1 {
    font-size:22px;
}
.widget-title {height:30px;}
.widget-title span.icon, .widget-title h5 {
    padding: 7px 10px 5px;
}
#content-header .btn-group .btn {
    padding: 7px 14px 6px;
}
#breadcrumb a {
    padding:5px 10px 5px 4px;
}

.container-fluid .row-fluid:first-child {margin-top:7px;}
.widget-box {
    margin-top:5px; margin-bottom:5px;
}
.container-fluid {
    padding-left:10px;
    padding-right:10px;
}

/*.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header {height:30px;}*/

#sidebar > ul {
    margin: 15px 0 0;
    position: absolute;
    /*position: relative;*/
    /*border-top:1px #686561 dashed;*/
    /*border-bottom:1px #686561 dashed;*/
}
#sidebar > ul > li > a {
    padding: 6px 0 6px 15px;

}
#sidebar > ul > li.menu-divider {
    height:6px;
    /*background:#474138;*/
    background-color: #60584c;
    /*background-color: #3a3a3a;*/
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#333333), to(#3F3F3F));
	background-image: -webkit-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -moz-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -ms-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -o-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: linear-gradient(top, #333333 0%, #3F3F3F 100%);
}
