/*************************************************
*   Custom styles
*************************************************/


/* REBUILD INHERITS
******************************************************/
#header h1 {
    height:35px;
    background: url("/static/img/logo2.png") no-repeat scroll 0 0 transparent;
    opacity:100;
}

#content-header {
    height:50px;
}
#content-header h1, #content-header .btn-group {margin-top:8px;}
#content-header h1 {
    font-size:22px;
}
.widget-title {height:30px;}
.widget-title span.icon, .widget-title h5 {
    padding: 7px 10px 5px;
}
#content-header .btn-group .btn {
    padding: 7px 14px 6px;
}
#breadcrumb a {
    padding:5px 10px 5px 4px;
}

.container-fluid .row-fluid:first-child {margin-top:7px;}
.widget-box {
    margin-top:5px; margin-bottom:5px;
}
.widget-content {
    padding: 9px 11px;
}
.container-fluid {
    padding-left:10px;
    padding-right:10px;
}

/*.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header {height:30px;}*/

#sidebar > ul {
    margin: 15px 0 0;
    position: absolute;
    /*position: relative;*/
    /*border-top:1px #686561 dashed;*/
    /*border-bottom:1px #686561 dashed;*/
}
#sidebar > ul > li > a {
    padding: 6px 0 6px 15px;

}
#sidebar > ul > li.menu-divider {
    height:6px;
    /*background:#474138;*/
    background-color: #60584c;
    /*background-color: #3a3a3a;*/
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#333333), to(#3F3F3F));
	background-image: -webkit-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -moz-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -ms-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -o-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: linear-gradient(top, #333333 0%, #3F3F3F 100%);
}



.stat-boxes, .quick-actions, .quick-actions-horizontal, .stats-plain {
    margin: 4px 0 4px;
    text-align:left;
}
.stat-boxes li, .quick-actions li, .quick-actions-horizontal li {
    margin: 0 4px 4px;
}
.quick-actions-horizontal li a span {
    padding:6px 8px 6px 6px;
}
.quick-actions-horizontal li a i[class^="icon-"], .quick-actions-horizontal li a i[class*=" icon-"] {
    padding: 7px;
}

.quick-actions-horizontal i.icon-calendar {
    background-image:url('/static/img/icons/16/calendar.png');
}
.quick-actions-horizontal i.icon-milestone {
    background-image:url('/static/img/icons/16/milestone.png');
}
.quick-actions-horizontal i.icon-book_open {
    background-image:url('/static/img/icons/16/book_open.png');
}
.quick-actions-horizontal i.icon-legend {
    background-image:url('/static/img/icons/16/legend.png');
}
.quick-actions-horizontal i.icon-chart_organisation {
    background-image:url('/static/img/icons/16/chart_organisation.png');
}




/* Loading indicator
******************************************************/
#loading-mask{
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    z-index:20000;
    background-color:gray;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE 5.5+*/
    -moz-opacity: 0.5; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0.5; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.5; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */

}
#loading{
    position:absolute;
    left:45%; top:40%;
    padding:2px;
    z-index:20001;
    height:auto;
}
#loading IMG {
    margin-bottom:5px;
}
#loading H1 {font-size:30px; color:#ffffff;}
#loading .loading-indicator{
    /*background:gray;*/
    color:#555;
    font:bold 13px tahoma,arial,helvetica;
    padding:10px;
    margin:0;
    text-align:center;
    height:auto;
}
#loading .loading-indicator img {
    width: 100px;
    height: 100px;
    margin-right:8px;
}

/* ALERT
******************************************************/
#alert-container {
    position:absolute;
    top:45px; right:15px;
    z-index: 10000;
    width:45%;
}
.alert {
    width:90%;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:7px;
}
.alert H4 {font-size:14px;}
.alert P {font-size:13px; margin-bottom:4px;}

/* custom adds
***********************************************/
#user-nav .btn-info,
#user-nav > ul > li.btn-quicktask,
.navbar .nav > li.btn-quicktask,
li.btn-quicktask {
    margin-left:5px;
    margin-right:5px;
}
.navbar .nav > li.btn-quicktask > A,
.btn-quicktask A {
    /*color:#c5c022;*/
    font-weight:bold;
}
#user-nav > ul > li.btn-quicktask > a > i {
    /*opacity:0.7;*/
    /*background-image:url("/static/img/glyphicons-halflings-green.png")*/
    /*background-image:url("/static/img/glyphicons-halflings-orange.png")*/
    /*background-image:url("/static/img/glyphicons-halflings-orange-light.png")*/
    /*background-image:url("/static/img/glyphicons-halflings-blue-light.png")*/
    /*background-image:url("/static/img/glyphicons-halflings-yellow.png")*/
    background-image:url("/static/img/glyphicons-halflings-yellow-light.png")
    /*background-image:url("/static/img/glyphicons-halflings-magenta-light.png")*/
}

.navbar-user {
    background-position:0, 0;
    /*opacity:1;*/
    padding-right:5px;
}
.navbar-user:hover {
    opacity:1;
}