
<div id="content-header">
    {% block page-title %}
        <h1>Main page</h1>
    {% endblock %}

    {% block page-buttons %}
        {% include 'baseapp/ba-inc-pagebuttons.html' %}
    {% endblock %}
</div>


{% block breadcrumbs %}
    <div id="breadcrumb">
        <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
        <a href="#" class="current">Grid Layout</a>
    </div>
{% endblock %}


{% if message  %}
<div class="container-fluid">
    <div class="row-fluid"><div class="span12">
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                <button class="close" data-dismiss="alert">×</button>
                <strong>Error!</strong> {{ message|safe }}
            </div>
        {% endfor %}
    </div></div>
</div>
{% endif %}



<div class="container-fluid">

    <div id="content-container">
    {% block content %}

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">

                <div class="widget-title">
                    <span class="icon"><i class="icon-th-list"></i></span>
                    <h5>Base text</h5>
                </div>

                <div class="widget-content">something, something, something</div>

            </div>
        </div>
    </div>

    {% endblock %}
    </div>
</div>
