<script type="text/javascript">
    var urlList = {
            'dashboard':'api-test/test',
            'projects':'{% url api_projects_base %}'
    }
</script>

<a href="#" class="visible-phone"><i class="icon icon-th-list"></i> Grid Layout</a>

<ul>
    <li class="active"><a href="#dashboard" data-turl="api-test/test"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
    <li><a href="#projects" data-turl="{% url api_projects_base %}"><i class="icon icon-list-alt"></i> <span>Projects</span></a></li>
    <li><a href="/"><i class="icon icon-tasks"></i> <span>Tasks</span></a></li>
    <li><a href="/"><i class="icon icon-calendar"></i> <span>Planing-board</span></a></li>
    <li><a href="/"><i class="icon icon-book"></i> <span>Wiki</span></a></li>

    <li class="menu-divider">&nbsp;</li>

    <li class="submenu">
        <a href="#"><i class="icon icon-th-list"></i> <span>Project name1</span> <span class="label">6</span></a>
        <ul>
            <li><a href="form-common.html">Common elements</a></li>
            <li><a href="form-validation.html">Validation </a></li>
            <li><a href="form-wizard.html">Wizard</a></li>
        </ul>
    </li>
    <li class="submenu">
        <a href="#"><i class="icon icon-th-list"></i> <span>Project name2</span> <span class="label">3</span></a>
        <ul>
            <li><a href="form-common.html">Common elements</a></li>
            <li><a href="form-validation.html">Validation </a></li>
            <li><a href="form-wizard.html">Wizard</a></li>
        </ul>
    </li>
    <li class="submenu">
        <a href="#"><i class="icon icon-th-list"></i> <span>Project name-name</span></a>
        <ul>
            <li><a href="form-common.html">Common elements</a></li>
            <li><a href="form-validation.html">Validation </a></li>
            <li><a href="form-wizard.html">Wizard</a></li>
        </ul>
    </li>

</ul>