{% extends "baseapp/ba-base-minifed.html" %}
{% load crispy_forms_tags %}


{% block page-buttons %}
    <div class="btn-group">
        <a class="btn btn-large tip-bottom" data-original-title="Add to left panel"><i class="icon-heart"></i></a>
        <a class="btn btn-large tip-bottom" data-original-title="Project Wiki"><i class="icon-book"></i></a>
        <a class="btn btn-large tip-bottom" data-original-title="Manage Project Users"><i class="icon-user"></i></a>
        <a class="btn btn-large tip-bottom" data-original-title="Edit Project"><i class="icon-cog"></i></a>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <div id="breadcrumb">
        <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
        <a href="#projects" class="loader" data-turl="{% url api_projects_base %}"><i class="icon icon-list-alt"></i> <span>Projects</span></a>
        <a href="#" class="current"><img src="/static/img/icons/projects/16/{{ project.logo }}" alt="" style="margin-right:4px;">{{ page_name }}</a>
    </div>
{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
{#            <div class="widget-title">#}
{#                <span class="icon"><i class="icon-th-list"></i></span>#}
{#                <h5>{{ page_name }}</h5>#}
{#            </div>#}
            <div class="widget-content">
                <div class="row-fluid">
                    <div class="span7">
                        <h2><img src="/static/img/icons/projects/32/{{ project.logo }}" alt="" style="margin-right:10px;">{{ project.name }}</h2>
                        <p style="padding-left:40px;">{{ project.description }}</p>
                    </div>

                    <div class="span2 left" style="text-align: left;">
                        <ul class="quick-actions-horizontal">
                            <li>
                                <a href="#"><i class="icon-calendar"></i>
                                <span>Planning&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-milestone"></i>
                                <span>Milestones&nbsp;&nbsp;&nbsp;</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-legend"></i>
                                <span>Components</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-chart_organisation"></i>
                                <span>Workflow&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="span3">
                        <ul class="stat-boxes">
                            <li>
                                <div class="left peity_bar_neutral">
                                    <span>
                                        <span style="display: none; ">2,4,9,7,12,10,12, 5, 4, 3, 6</span>
                                        <canvas width="50" height="24"></canvas>
                                    </span>&nbsp;
                                </div>
                                <div class="right">
                                    <strong>72</strong>
                                    all tasks
                                </div>
                            </li>
                            <li>
                                <div class="left peity_bar_neutral">
                                    <span>
                                        <span style="display: none; ">2,10,0,7,1,6,1</span>
                                        <canvas width="50" height="24"></canvas>
                                    </span>&nbsp;
                                </div>
                                <div class="right">
                                    <strong>36</strong>progress
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-tasks"></i></span>
                <h5>tasks</h5>
            </div>
            {% if task_list %}
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>Column name</th>
                            <th>Column name</th>
                            <th>Column name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in task_list %}
                        <tr>
                            <td><a href="#project/{{ i.name_slug }}" class="loader" data-turl="{% url api_project_view i.name_slug %}">{{ i.name }}</a></td>
                            <td>Row 2</td>
                            <td>Row 3</td>
                            <td>Row 4</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="widget-content">
                This project has no tasks.
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="static/jproject/js/jp-task-list.js"></script>
{% endblock %}